* { -webkit-tap-highlight-color:rgba(0,0,0,0); }

body 
{
	padding: 20px; 
	font-family: sans-serif;
	font-size: 13pt;
}

menu {
	padding: 0; margin: 10px 0 20px;
	background-color: #f0f0f0;
}

menu li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

menu li a {
	display: inline-block;
	padding: 10px 15px;
	background-color: #e0e0cc;
	text-decoration: none;
	color: #666;
}

menu li a:hover {
	background-color: #d0d0bb;
}

.feedback{
	position: absolute;
	top: 0;
	right: 30px;
	display: inline-block;
	padding: 10px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	background-color: #44bb44;
}

.feedback:hover {
	background-color:  #00aa00;
}

/*misc*/

.button {
	background-color: #e5dde5;
	border: 1px solid #aaa;
	padding: 8px 10px;
	margin: 0;
	font-size: 11pt;
	line-height: 1em;
	display: inline-block;
	border-radius: 3px;
}

.button:hover {
	background-color: #bbb;
	cursor: pointer;
}

.toggle {
	background-color: #aaa;
}

.inline {
	vertical-align: middle
}

p i {
	font-family: serif;
}

.center {
	text-align: center;
}

/* App styling */

#huckler {
	position: relative;
	height: 480px;
	width: 720px;
}

.huckler_model {
	width: 470px;
	height: 450px;
	position: absolute;
	top: 0px;
	left: 0;
	background-color: #f0f0f0;
}


/* edit */

.huckler_editor {
	position: absolute;
	top: 450px;
	left: 0;
	height: 30px;
	width: 720px;
	font-size: 11pt;
}

.huckler_editor h3 {
	margin: 10px 15px 10px 10px;
	padding: 0;
	display: inline-block;
}

.huckler_editor .slider {
	width: 150px;
}

.huckler_editor > form {
	margin: 10px 15px;
	display: inline-block;
}

.huckler_editor > form > input {
	margin: 0 10px;
}

.huckler_editor input[type=text] {
	font-family: Courier;
	border: 1px solid #e5e5e5;
	font-size: 12pt;
	padding: 2px;
	text-align: right;

}

/* spectrum */

.spectrum_controls {
	position: absolute;
	top: 0;
	left: 480px;
	width: 250px;
	height: 35px;
	overflow: hidden;
}

.huckler_spectrum {
	position: absolute;
	top: 35px;
	left: 470px;
	width: 250px;
	height: 180px;
}

.transport_controls {
	position: absolute;
	top: 225px;
	left: 480px;
	width: 250px;
	height: 45px;
	overflow: hidden;
}

.huckler_transport {
	position: absolute;
	top: 270px;
	left: 470px;
	width: 250px;
	height: 180px;
}

/* Misc */

#controls {
	clear: both;
	padding: 20px 0 ;
	font-variant: small-caps;
}
