* { -webkit-tap-highlight-color:rgba(0,0,0,0); }

body 
{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 12pt;
	color: #444;
}

menu {
	padding: 0; margin: 0;
	background-color: #f0f0e0;
	/*border-bottom: 2px solid #888;*/
}

menu li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

menu li a {
	display: inline-block;
	padding: 10px 15px;
	background-color: #e0e0cc;
	text-decoration: none;
	color: #666;
	font-size: 13pt;
}

menu li a:hover {
	background-color: #d0d0bb;
}

menu li.selected a {
	background-color: #c0c0ab;
	color: #444;
}

h1 {
	display: inline-block;
	font-size: 20pt;
	padding: 2px 15px 2px 25px;
	vertical-align: middle
}

.feedback{
	position: absolute;
	top: 0;
	right: 30px;
	display: inline-block;
	padding: 10px;
	font-weight: bold;
	font-size: 13pt;
	color: white;
	text-decoration: none;
	background-color: #44bb44;
}

.feedback:hover {
	background-color:  #00aa00;
}

.body {
	padding: 10px 15px;
	position: relative;
	float: left;
}

/*misc*/

.button {
	background-color: #e5dde5;
	border: 1px solid #aaa;
	padding: 7px 8px;
	margin: 0;
	font-size: 11pt;
	line-height: 1em;
	display: inline-block;
	border-radius: 3px;
}

.button:hover {
	background-color: #ccc;
	cursor: pointer;
}

.toggle {
	background-color: #bbb;
}

.button.toggle:hover {
	background-color: #aaa;
}

.inline {
	vertical-align: middle
}

p i {
	font-family: serif;
}

.center {
	text-align: center;
}

/* App styling */

#huckler {
	position: relative;
	float: left;
	height: 480px;
	width: 800px;
}

.huckler_model {
	width: 520px;
	height: 405px;
	position: absolute;
	top: 45px;
	left: 0;
	background-color: #f0f0f0;
}

.huckler_controls {
	top: 0;
	left: 0;
	height:45px;
	width: 520px;
	background-color: #e6e6e6;
}

.huckler_controls div { padding: 7px 10px; }

/* edit */

.huckler_editor {
	position: absolute;
	top: 450px;
	left: 0;
	height: 42px;
	width: 520px;
	font-size: 11pt;
	background-color: #e9e9e9;
}

.huckler_editor h3 {
	margin: 10px 15px 10px 10px;
	padding: 0;
	display: inline-block;
}

.huckler_editor .slider {
	width: 150px;
}

.huckler_editor > form {
	margin: 5px 15px;
	display: inline-block;
}

.huckler_editor > form > input {
	margin: 0 10px;
}

.huckler_editor input[type=text] {
	font-family: Courier;
	border: 1px solid #e5e5e5;
	font-size: 12pt;
	padding: 2px;
	width: 45px;
	text-align: right;

}

/* spectrum */

.spectrum_controls {
	position: absolute;
	top: 0;
	left: 530px;
	width: 250px;
	height: 45px;
	overflow: hidden;
	background-color:#f0f0f0;
}
.spectrum_controls div { padding: 7px 10px; }

.huckler_spectrum {
	position: absolute;
	top: 45px;
	left: 530px;
	width: 250px;
	height: 180px;
	background-color: #f8f8f8;
}

.transport_controls {
	position: absolute;
	top: 225px;
	left: 530px;
	width: 250px;
	height: 45px;
	overflow: hidden;
	background-color:#f0f0f0
}
.transport_controls div { padding: 7px 10px; }

.huckler_transport {
	position: absolute;
	top: 270px;
	left: 530px;
	width: 250px;
	height: 180px;
	background-color:#f8f8f8;
}

.huckler_transport h3 {
	position: absolute;
	top: 10px;
	margin: 0;
	padding: 0;
	width: 250px;
	font-size: 9pt;
	text-align: center;
	font-weight: normal;
}

#transport_plot {
	width: 234px;
	height: 180px;
	display: block;
	position: absolute;
	top: 0;
	left: 3px;
}

.huckler_transport span {
	display: block;
	font-size: 10pt;
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: normal;
	position: absolute;
	bottom: 3px;
	right: 4px;
	width: 32px;
	background-color: #f8f8f8;
	z-index: 10;
}

/* Misc */

#controls {
	clear: both;
	padding: 20px 0 ;
	margin: 1px;
}

#controls a {
	display: inline-block;
}

#modellink {
	display: inline-block;
	padding: 0 10px;
}

#modellink a {
	padding: 0 10px 0 0;
}

#modellink input {
	padding: 3px 5px;
	font-size: 13pt;
	border: 1px solid #ccc;
	width: 220px;
}


/* Examples */

#examples {
	float: left;
	font-size: 11pt;
	width: 300px;
}

#examples p {
	margin-bottom: .4em;
}

#examples form {
	display: inline-block;
}

#examples select, #examples input {
	display: inline-block;
}
/* Icons */

#electrodes b {
	font-size: 15pt;
}

